################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fccla/config/applicationhost.config
/.vs/fccla/FileContentIndex
*.sqlite
/.vs/fccla/v17/.suo
